$modal-border-radius: 1.25rem;
$modal-padding: 1rem;
$color-icon-primary: #ffc925;
$color-primary: #5b913b;
$color-secondary: #f7f5f1;
$color-bg-page: #ffffff;
$color-bg-book-image: #f7f6f4;
$color-bg-post: #fafaf8;
$color-text-primary: #000000;
$color-text-secondary: #7c7e80;
$color-border: #ececec;
$color-button-primary: #5b913b;
$color-button-secondary: #27272a;
$color-button-menu: #f7f5f1;
$color-danger: #aa0202;
$color-warning: #eee025;
$color-success: #5b913b;
